body {
  color: #FFFFFF;
  font-family: verdana;
  text-align: center;
  background-color: #000000;
}

h1 {
  font-size:250%;

}
h2{
  font-size:200%;	
}

p,table{
  text-align: justify;
  font-size:100%;
  margin-right: 10%;
  margin-left: 10%;
}
th,tr,td{
  text-align: center;
  font-size:100%;
}

button{
  font-size:100%;
  margin-left: 30%;
  display: block;
  background-color: #000000;
  border:  outset;
  color: white;
}

footer {
  bottom: 0;
  width: 100%;
  font-size:90%;
}

.btn {
  margin-left: 0%;
  background-color: #000000;
  border: none;
  color: white;
  float:left;
  font-size: 50px;
  cursor: pointer;
  text-align: justify;
}

.img-tabla{
  width: 100px;
  height: 100px;

}


.imagenes{
  width: 400px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

