body {
  background-image: url("../imagenes/Fondo.jpg");
}

h1 {
  color: white;
  text-align: center;
}
h2{
  color: white;
  font-family: verdana;
}

p{
  color: white;
  font-family: verdana;
  font-size: 20px;
  background-color: midnightblue;
}

.imagenes{
  width: 400px;
  height: 200px;
}